<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Theme tittle -->
  <title><%=title%></title> 
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <%-body%>
  <!-- Scroll Top Button -->
  <button class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</button>

<!-- Preloader -->
<div class="preloader"></div>

<!-- js scripts -->
  <script src="js/jquery-3.3.1.min.js"></script> 
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap v4.1.0 -->
  <script src="js/bootstrap.min.js"></script> 
  <!-- Extra Plugin -->
  <script src="vendors/animate-css/wow.min.js"></script> 
  <!-- Theme js / Custom js -->
  <script src="js/theme.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
